/* common */
body { color: #333; font-size: 14px; overflow-x: hidden;
 -ms-overflow-style: none;
} 
::-webkit-scrollbar { display: none; }
div.h-box { height:73px; width:100%; background:none; }

.dropdown-menu { min-width: 5rem; text-align: center; }

/* header */
header#header { width: 100%; background: #fff; border-bottom: 1px solid #ccc; }
header#header .logo { margin-right: 20px; }
.icon-btn { margin: 0 5px; cursor: pointer; }
.icno-btn > div { margin-left: 10px; }

/* footer */
.footer { }

#top-link-block.affix-top { position: absolute; bottom: -82px; right: 10px; }
#top-link-block.affix { position: fixed; bottom: 18px; right: 10px; }

.scroll-top-wrapper { position: fixed; opacity: 0; visibility: hidden; overflow: hidden; text-align: center; z-index: 99999999; background-color: #777; color: #eee; width: 50px; height: 48px; line-height: 48px; right: 30px; bottom: 30px; padding-top: 2px; border-top-left-radius: 10px; border-top-right-radius: 10px; border-bottom-right-radius: 10px; border-bottom-left-radius: 10px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out; }
.scroll-top-wrapper:hover { background-color: #888; }
.scroll-top-wrapper.show { visibility:visible; cursor:pointer; opacity: 1.0; }
.scroll-top-wrapper i.fa { line-height: inherit; }


/* index-main */
video { width: 100%; height: 100vh; object-fit: cover; }
.item { opacity: 0.8; }
.text { position: absolute; width: 100%; top: 50%; left: 50%; transform: translate(-50%,-50%); }
.text p { text-align: right; font-size: 24px; color: #000; margin: 0 200px;  font-family: 'Montserrat', sans-serif; text-shadow: 0 0 10px #fff; }

/* sub */
#sub-bnr { height: 100px; }
#sub-bnr>*{ height : 100%; display: flex; align-items: flex-end; padding-bottom: 25px; }

section#community,
section#login,
section#cart { height: calc(100vh - 130px); }
section#shop { min-height: calc(100vh - 130px); }

.accordion-body::-webkit-scrollbar{ display: none; }
    
/* board */
/*탭메뉴 */
.tab ul { list-style: none; margin: 0 0 30px; padding: 0; }
.tab ul.title li:first-child { margin-left: 0; }
.tab ul.title li { float: left; margin-left: 5px; }
.tab ul.title li a { display: block; padding: 5px 10px; color: #999; }
.tab ul.title li a.show { color: #400080; font-weight:bold; }
.tab ul.title:after {content:""; display:block; clear:both; }

.tab ul.panel li{ display: none; background: #fcc; height: auto; overflow: hidden; }


/* board-write */
.form-select{height: 33px;width:10%; vertical-align: middle; }
button {float: right; margin-right: 5px;}

/* shop */
.blog-grid { position: relative; height: 100%; border-radius: 0.25rem; transition: all .2s ease-in-out; height: 100%; }
.blog-grid span { color: #292dc2 }
.blog-grid img { width: 100%; border-top-left-radius: 0.25rem; border-top-right-radius: 0.25rem }
.blog-grid-text { position: relative; color: #333; }
.blog-grid-text>span { color: #292dc2; font-size: 13px; padding-right: 5px; }
.blog-grid-text h4 { line-height: normal; margin-bottom: 15px; }
.blog-grid-text .meta-style2 { border-top: 1px dashed #cee1f8; padding-top: 15px; }
.blog-grid-text .meta-style2 ul li { margin-bottom: 0; font-weight: 500; }
.blog-grid-text .meta-style2 ul li:last-child { margin-right: 0; }
.blog-grid-text ul { margin: 0; padding: 0; }
.blog-grid-text ul li { display: inline-block; font-size: 14px; font-weight: 500; margin: 5px 10px 5px 0; }
.blog-grid-text ul li:last-child { margin-right: 0; }
.blog-grid-text ul li i { font-size: 14px; font-weight: 600; margin-right: 5px; }
.blog-grid-text p { font-weight: 400; padding: 0; margin-bottom: 0; }
.blog-list-left-heading:after,
.blog-title-box:after { content: ''; height: 2px; }
.blog-grid-simple-content a:hover { color: #1d184a; }
.blog-grid-simple-content a:hover:after { color: #1d184a; }

a, a:active, a:focus {
    color: #575a7b;
    text-decoration: none;
    transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-duration: .2s;
    -ms-transition-duration: .2s;
    -moz-transition-duration: .2s;
    -webkit-transition-duration: .2s;
    -o-transition-duration: .2s;
}

.pagination { ) 
.pagination ul { display: inline-block; *display: inline; *zoom: 1; margin: 0 auto; padding: 0; }
.pagination li { display: inline; }
.pagination a { float: left; padding: 0 15px; line-height: 40px; text-decoration: none; background: #fff }
.pagination a:hover { color: #f00; }
.pagination .active a { color: #fcc; cursor: default; }
.pagination .disabled span { color: #999;background-color: transparent; cursor: default; }
.pagination .disabled a { color: #999; background-color: transparent; cursor: default; }
.pagination .disabled a:hover { color: #999; background-color: transparent; cursor: default; }
.pagination li:first-child a { border-left-width: 1px; }
.mt-6, .my-6 { margin-top: 3.5rem; }


/* community */
.accordion-item { margin-bottom: 15px; }


