<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.global.ex.mapper.BoardMapper">

<select id="getReview" resultType="edu.global.ex.vo.BoardVO">
    <![CDATA[
      select * from ms_board where selecter = 3 order by bGroup desc, bStep asc
   ]]>    
    </select>
    
    <select id="getQna" resultType="edu.global.ex.vo.BoardVO">
    <![CDATA[
      select * from ms_board where selecter = 2 order by bGroup desc, bStep asc
   ]]>    
    </select>

<select id="getNotice" resultType="edu.global.ex.vo.BoardVO">
    <![CDATA[
      select * from ms_board where selecter = 1 order by bGroup desc, bStep asc
   ]]>    
    </select>
		
<select id="getList" resultType="edu.global.ex.vo.BoardVO">
    <![CDATA[
      select * from ms_board order by bid desc
   ]]>    
    </select>
    
   <select id="read" resultType="BoardVO">
    <![CDATA[
      select * from ms_board where bid = #{bid}
   ]]>    
    </select>
    
      <update id="update">
    <![CDATA[
      update ms_board set bname=#{bname}, btitle=#{btitle}, bcontent=#{bcontent} 
             where bid =#{bid}
   ]]>    
    </update>
    
    <delete id="delete">
    <![CDATA[
      delete from ms_board where bid =#{bid}
   ]]>    
    </delete>
    
    <insert id="insert">
    <![CDATA[
	insert into ms_board (bid, bname, btitle, bcontent, bgroup, bstep, bindent, selecter) 
            values (ms_board_seq.nextval, #{bname}, #{btitle}, #{bcontent}, ms_board_seq.currval, 0, 0, ${selecter}) 
   ]]>    
    </insert>    
<!--      댓글을 하나씩 미뤄서 정렬을 해줘야 하기 때문에 
         세로 정렬을 bstep에 +1로 한칸씩 미뤄내줘야한다. -->
    <update id="updateShape">
    <![CDATA[
      update ms_board set bstep = bstep + 1 where bgroup =#{bgroup} and bstep > #{bstep}
   ]]>    
    </update>
    
        <insert id="insertReply">
    <![CDATA[
      insert into ms_board (bid, bname, btitle, bcontent, bgroup, bstep, bindent, selecter) 
      values (ms_board_seq.nextval, #{bname}, #{btitle},#{bcontent}, 
                #{bgroup}, #{bstep}+1, #{bindent}+1, #{selecter})
   ]]>    
    </insert>
    
       <select id="getTotalCount" resultType="int">
      <![CDATA[
          select count(*) from ms_board order by bid asc
      ]]>
   </select>
   
          <select id="getTotalNoticeCount" resultType="int">
      <![CDATA[
          select count(*) from ms_board where selecter = 1
      ]]>
   </select>
   
   <select id="getListWithPaging" resultType="BoardVO">
      <![CDATA[
	SELECT * FROM (
	  SELECT ROWNUM AS RNUM, A.* FROM (
	    SELECT
	      *
	    FROM
	      ms_board
	    ORDER BY bdate desc, bGroup DESC, bStep ASC 
	  ) A WHERE ROWNUM <= #{pageNum} * #{amount}
	) WHERE RNUM > (#{pageNum} - 1) * #{amount}
      ]]>
   </select>
   
   <select id="getQnaWithPaging" resultType="BoardVO">
      <![CDATA[
	SELECT * FROM (
	  SELECT ROWNUM AS RNUM, A.* FROM (
	    SELECT
	      *
	    FROM
	      ms_board
	    WHERE selecter = 2
	    ORDER BY bdate, bGroup DESC, bStep ASC 
	  ) A WHERE ROWNUM <= #{pageNum} * #{amount}
	) WHERE RNUM > (#{pageNum} - 1) * #{amount}  order by rnum desc
      ]]>
   </select>
   
      <select id="getReviewWithPaging" resultType="BoardVO">
      <![CDATA[
	SELECT * FROM (
	  SELECT ROWNUM AS RNUM, A.* FROM (
	    SELECT
	      *
	    FROM
	      ms_board
	    WHERE selecter = 3
	    ORDER BY bdate, bGroup DESC, bStep ASC
	  ) A WHERE ROWNUM <= #{pageNum} * #{amount}
	) WHERE RNUM > (#{pageNum} - 1) * #{amount} order by rnum desc
      ]]>
   </select>
   
  	<select id="getNoticeWithPaging" resultType="BoardVO">
      <![CDATA[
	SELECT * FROM (
	  SELECT ROWNUM AS RNUM, A.* FROM (
	    SELECT
	      *
	    FROM
	      ms_board
	    WHERE selecter = 1
	    ORDER BY bdate, bGroup DESC, bStep ASC
	  ) A WHERE ROWNUM <= #{pageNum} * #{amount}
	) WHERE RNUM > (#{pageNum} - 1) * #{amount} order by rnum desc
      ]]>
   </select>


</mapper>