<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.global.ex.mapper.PayMapper">


   <select id="listPay" resultType="PayVO">
    <![CDATA[
      select * from ms_pay where username = #{username}
   ]]>    
    </select>

   <insert id="insert">
    <![CDATA[
  INSERT INTO ms_pay (order_number, stock_quantity, username, product_name, 
  product_code, product_img, price, cname, caddress1, caddress2, caddress3, caddress4, caddress5, phone1, phone2)
  VALUES (#{order_number}, #{stock_quantity}, #{username}, #{product_name}, 
  #{product_code}, #{product_img}, #{price}, #{cname}, #{caddress1}, #{caddress2}, #{caddress3}, 
  #{caddress4}, #{caddress5}, #{phone1}, #{phone2})
  ]]>    
    </insert>
</mapper>