.fa-trash-can{
	font-size:16px;
	line-height:16px;
}

.pname{font-size:12px;}

.quantity-controlss {
    display: flex;
    align-items: center;
}

table{border-top: 1px solid #000000;
border-color: #000 !important;
}

thead th {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    padding-right: 0 !important;
    padding-left: 22 !important;
}
.paycost{border:1px solid #000000;
		 padding: 40px;
		 width:99%;
		 }
.paymg{margin-bottom: 10px;}
.rightareaa{
	border:1px solid #000000;
	padding: 10px;
	margin-bottom: 20px;
}
.costlinee{margin-top: 10px;
		  margin-left: 10px;
		  margin-right: 10px;}
.costtextt{margin-top: 10px;
		  margin-left: 10px;
		  margin-right: 10px;}
.linee{border: 1px solid #000000; margin-top: 20px;}
#btttn{font-size:16px; width:100%; background-color:#fff; font-weight:lighter;
	   margin-bottom: 10px;}
.hello{dlsplay:flex;}
.paycontrol{height: 100vh;}
.pay-box{
	width:25%;
    position: absolute;
    }	   