/* com */

/* header */
header {
    color: black;
    padding: 10px 0;
}

.wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    font-size: 24px;
}

nav ul {
    list-style: none;
    display: flex;
    /* margin-left: auto; */
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

.icon-btn ul {
    list-style: none;
    display: flex;
}

.icon-btn ul li {
    margin-right: 15px;
}

.icon-btn ul li:last-child {
    margin-right: 0;
}

.icon-btn ul li a {
    color: black;
    font-size: 18px;
}


/* footer */
footer {
    padding: 20px 20px;
    text-align: left;
}

footer h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer li {
    font-size: 14px;
    margin-bottom: 5px;
}


/* index-main */


/* admin company */
.trailing.clear {
	cursor: pointer;
	&:focus { color: #3b71ca; outline: none; }
}
    


